# easy-configuration with https://zed0.co.uk/clang-format-configurator/

BasedOnStyle: Microsoft
IndentWidth: 2
SortIncludes: 'false'
AlignConsecutiveAssignments: 'true'
AlignOperands: Align
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: GNU
BreakBeforeBinaryOperators: All
IndentCaseLabels: 'false'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: None
SpaceBeforeCpp11BracedList: 'true'
UseTab: Never
PointerAlignment: Right
ColumnLimit: 79
ReflowComments: true
# prevent breaking of source code comments (problem for header doc from ref. impl. in the current form):
PenaltyBreakComment: 1000000000
